    <section>
      <header>
        <h1>tl;dr</h1>
        <p>Big block of text! Have ChatGPT give you the tl;dr</p>
      </header>

      <aside>
        <span class="htmx-indicator"> <img src="/bars.svg" /> Loading... </span>
        <form
          hx-post="/block"
          hx-target="#results"
          hx-indicator=".htmx-indicator"
        >
          <label for="text">Text:</label>
          <textarea name="text" id="text""></textarea>
          <input type="submit" value="Summarize" />
        </form>
      </aside>
    </section>

    <main>
      <article id="results">
      </article>
    </main>