<!DOCTYPE html>
<html>
  <head>
    <title>Summarizer</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet" href="/main.css" />

    <!-- set the heading font -->
    <style>
      :root {
        --heading-font: 'Averia Serif Libre'
      }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  </head>
  <body hx-boost="true">
    <header>
      <a href="/">Summarizer</a>
      <ul>
        <li><a href="/about">About</a></li>

        <% if session[:password] %>
          <li><a hx-boost="false" href="/logout">Logout</a></li>
        <% end %>
      </ul>
    </header>

    <%= yield %>

    <footer>
      <ul>
        <li><a href="https://willschenk.com">&copy; 2024 Will Schenk</a></li>
        <li><a href="https://github.com/wschenk/summarize">Code</a></li>
      </ul>
    </footer>
  </body>
</html>
